body {
  font-family: 'Open Sans', sans-serif;
}

.main {
  padding: 8px 0;
  min-height: calc(100vh - 96px);
  width: 100%;
}

h2 {
  margin-top: 0;
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 18px;
  color: #707d88;
}

p {
  color: #0e0e0e;
}